.boxList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 40px 0;
}

.card {
  flex: 1 1 30%;
  margin: 0.5rem 0.5rem 0.5rem 0;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  display: flex;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  max-width: 32%;
}

@media (max-width: 1080px) {
  .card {
    flex: 1 1 40%;
    max-width: 47%;
  }
}

@media (max-width: 539px) {
  .card {
    flex: 1 1 95%;
    max-width: 97%;
    margin: 20px auto;
  }
}