.itemWillWatch {
  position: fixed;
}

.listGroup {
  display: flex;
  flex-direction: column;
}

.listGroupItem:first-child {
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.listGroupItem {
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
}

.boxItem {
  display: flex;
  justify-content: space-between;
}

.rating {
  margin-left: 10px;
}

@media (max-width: 819px) {
  .itemWillWatch {
    position: relative;
  }
}